.champions {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 75px;

  .champions-container {
    color: white;
    background: black;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    .champions-list {
      padding: 0;
      margin: 0;
      text-align: center;
      overflow: hidden;

      .champions-list-item {
        list-style: none;
        padding: 8px;
        height: 50px;
        opacity: 1;
        .champion-icon {
          width: 50px;
          cursor: pointer;
        }
      }
    }
  }
}